$fondo-azul: #2C3E50 ;
$fondo-verde: #27AD60 ;
$acento-naranja: #E67E22 ;
$blanco: #FFF;
$negro: #000;
$tamano-titulo: 2.5rem
$tamano-titulo-secuendario: 1.5rem;+
$tamano-subtitulo: 1.2rem;
$tamano-parrafos:.8rem;
