$fondo-azul: #2C3E50;
$fondo-verde: #27AD60;
$acento-naranja: #E67E22;
$gris-texto: #C1C1C1;
$gris-botones: #443E44;
$blanco: #FFF;
$negro: #000;
$tamano-titulo: 3rem;
$tamano-titulo-secuendario: 2rem;
$tamano-subtitulo: 1.5rem;
$tamano-parrafos: .9rem;
// variables para la paleta de color
$paleta-alto-cuadro:20vh;
$celeste:#69D2E7;
$azul-claro:#A7DBDB;
$gris-calido:#E0E4CC;
$naranja:#F38630;
$naranja-fuerte:#FA6900;
$rosa:#E94C6F;
$uva:#542733;
$gris:#5A6A62;
$gris-claro:#C6D5CD;
$amarillo: #FDF200;
$rojo-fuerte:#DB3340;
$mostaza: #E8B71A;
$hueso:#F7EAC8;
$menta:#1FDA9A;
$cielo:#28ABE3;
$gris-verde:#588C73;
$durazno-claro:#F2E394;
$durazno:#F2AE72;
$salmon:#D96459;
$vino:#8C4646;
$amarillo-limon:#D0C91F;
$azul-gris:#85C4B9;
$azul:#008BBA;
$rojo-claro:#DF514C;
$rojo:#DC403B;
