@import "variables";
@import 'mixin';
@import 'funciones';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:#424242;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0px, auto;
}

.templateRow{
    content: " ";
    display: table;
}

.row{
    &:before{
        @extend .templateRow;
    }
    &:after{
        @extend .templateRow;
        clear:both;
    }
}

[class*="col-"]{
    min-height: 7px;
    padding: 12px;
    float:left;
}


// Para NAV
nav {
  background-color:  #27AD60;
}

.img-logo {
  width: 150%;
  margin-top: 5%;
  margin-left: 5%;
}

.menu {
  text-align: right;

  li {
    @include list;

    a {
      @include list-style;
    }
  }
}

// Para HOME
.home {
background-image: url("../img/carousel-bg.jpg");
}
