@import "variables";
@import 'mixin';
@import 'funciones';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:#424242;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.templateRow{
    content: " ";
    display: table;
}

.row{
    &:before{
        @extend .templateRow;
    }
    &:after{
        @extend .templateRow;
        clear:both;
    }
}

[class*="col-"]{
    min-height: 7px;
    padding: 12px;
    float:left;
}

/*Inicia sección PARI*/
.redes{
  margin:0;
  background-image: url(../img/img-divider-img.jpg);
  background-position: center;
  background-size: cover; 
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.redes__contenedor{
    text-align: center;
    .redes__icono{
       color:white;
        margin:10px; 
    }
}

footer{
    background-color: $fondo-verde;
    .footer__enlaces{
        margin-bottom: 2rem;
    }
    h4{
        margin-top: 1rem;
        margin-bottom: 1rem;
        color:white;
        text-align: center;
    }
    p{
       color:white;
       text-align: center;
       margin-bottom: 2rem;
    }

    a{
       display: inline-block; 
       color:white;
       text-align: center; 
       text-decoration: none;
       font-size: $tamano-parrafos;
       margin-bottom:1rem;
    }
    i{
        color:white;
    }
    .footer__btn{
        height: 32px;
        background-color: $gris-botones;
        border: none;
        width: 40px;
        
    }
    .footer__btn--suscribe{
            @extend .footer__btn;
            width: 120px;
            color:white;
            margin-bottom: 30px;
            text-align: center; 
            
    }
    .cent{
        text-align: center;
    }
    .orange{
        color:orange;
    }
    input{
        width: 130px;
        height: 30px;
        margin-bottom: 18px;
    }
    .footer__renglon{
        display: flex;
        justify-content:space-between;
        align-items:baseline;
        p{
          font-size: $tamano-parrafos;
          color:$gris-botones;  
        }
        a{
            font-size: $tamano-parrafos;
        }
    }
}

/*Termina sección PARI*/