@import "variables";
@import 'mixin';
@import 'funciones';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color:#424242;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;

}

.templateRow{
    content: " ";
    display: table;
}

.row{
    &:before{
        @extend .templateRow;
    }
    &:after{
        @extend .templateRow;
        clear:both;
    }
}

[class*="col-"]{
    min-height: 7px;
    padding: 12px;
    float:left;
}


/*   inicio estilos DIANA   */
.acercaDeNosotros {
	background-color: $fondo-azul;
    padding: 7rem 0;
    .acercaDeNosotros__titulo {
        @include fuente($tamano-titulo,$blanco);
        text-align: center;
        margin-bottom: 2rem;
    }
    .acercaDeNosotros__separador {
        border: .3px solid $blanco;
        margin-bottom: 3rem;
    }

    div.col-5 {
        padding: 0 2rem;
    }

    .acercaDeNosotros__textos {
	    margin-bottom: 3rem;
    }
    .acercaDeNosotros__texto {
	    @include fuente($tamano-parrafos,$blanco);
        margin-bottom: 1rem;
    }
    .acercaDeNosotros__barra {
	    border: 1px solid $blanco;
        background-color: $blanco;
        height: 10px;
        margin-bottom: .5rem;
        .acercaDeNosotros__barraProgreso-- {
            background-color: $acento-naranja;
            height: 100%;
	    }
        .primera {
            width: 97%;
        }
        .segunda {
            width: 93%;
        }
        .tercera {
            width: 55%;
        }
        .cuarta {
            width: 67%;
        }
        .quinta {
            width: 90%;
        }
    }
    .acercaDeNosotros__subtitulo-barra {
	    @include fuente(.6rem,$blanco);
        text-transform: uppercase;
        margin-bottom: 1rem;
}
    .acercaDeNosotros__imagen {
	width: 100%;
}
}

/*   final estilos DIANA   */
/*LUZ 1era seccion*/
.paleta-color{
	width: 100%;
	background-color: $blanco;
	text-align: center;
	padding: 4rem 0 0 0;
	&__titulo{
		@include fuente($tamano-titulo,$negro);

	}
	&__cuadro-color{
		height: 22vh;

		&--celeste{
			background-color: $celeste;
			height: $paleta-alto-cuadro;
		}
		&--azul-claro{
			background-color: $azul-claro;
			height: $paleta-alto-cuadro;
		}
		&--gris-calido{
			background-color: $gris-calido;
			height: $paleta-alto-cuadro;
		}
		&--naranja{
			background-color: $naranja;
			height: $paleta-alto-cuadro;
		}
		&--naranja-fuerte{
			background-color: $naranja-fuerte;
			height: $paleta-alto-cuadro;
		}
		&--rosa{
			background-color: $rosa;
			height: $paleta-alto-cuadro;
		}
		&--uva{
			background-color: $uva;
			height: $paleta-alto-cuadro;
		}
		&--gris{
			background-color: $gris;
			height: $paleta-alto-cuadro;
		}
		&--gris-claro{
			background-color: $gris-claro;
			height: $paleta-alto-cuadro;
		}
		&--amarillo{
			background-color: $amarillo;
			height: $paleta-alto-cuadro;
		}
		&--rojo-fuerte{
			background-color: $rojo-fuerte;
			height: $paleta-alto-cuadro;
		}
		&--mostaza{
			background-color: $mostaza;
				height: $paleta-alto-cuadro;
		}
		&--hueso{
			background-color: $hueso;
			height: $paleta-alto-cuadro;
		}
		&--menta{
			background-color: $menta;
			height: $paleta-alto-cuadro;
		}
		&--cielo{
			background-color: $cielo;
			height: $paleta-alto-cuadro;
		}
		&--gris-verde{
			background-color:$gris-verde;
			height: $paleta-alto-cuadro;
		}
		&--durazno-claro{
			background-color: $durazno-claro;
			height: $paleta-alto-cuadro;
		}
		&--durazno{
			background-color: $durazno;
			height: $paleta-alto-cuadro;
		}
		&--salmon{
			background-color: $salmon;
			height: $paleta-alto-cuadro;
		}
		&--vino{
			background-color: $vino;
			height: $paleta-alto-cuadro;
		}
		&--amarillo-limon{
			background-color: $amarillo-limon;
			height: $paleta-alto-cuadro;
		}
		&--azul-gris{
			background-color: $azul-gris;
			height: $paleta-alto-cuadro;
		}
		&--azul{
			background-color: $azul;
			height: $paleta-alto-cuadro;
		}
		&--rojo-claro{
			background-color: $rojo-claro;
			height: $paleta-alto-cuadro;
		}
		&--rojo{
			background-color: $rojo;
			height: $paleta-alto-cuadro;
		}



	}
}

/*FINALIZA luz*/
